<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ManagedDll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <ManagedDll.Properties.Settings>
      <setting name="CardTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>GCGiftcard</string>
            <string>VSVisa</string>
            <string>MCMastercard</string>
            <string>AXAmerican Express</string>
            <string>DSDiscover</string>
            <string>DBDebit</string>
            <string>EFEBT Food Stamps</string>
            <string>ECEBT Cash</string>
            <string>EPS_JcbJCB</string>
            <string>DICLDiners Club</string>
            <string>EWeWic</string>
            <string>ECC</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ResponseCode" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AA Approval</string>
            <string>AB Approval</string>
            <string>AC Approval</string>
            <string>AS Soft Approval</string>
            <string>ND Hard Decline</string>
            <string>IC Hard Decline</string>
            <string>NB Soft Decline</string>
            <string>NC Soft Decline</string>
            <string>NE Soft Decline</string>
            <string>NF Soft Decline</string>
            <string>NG Soft Decline</string>
            <string>NH Hard Decline</string>
            <string>NI Soft Decline</string>
            <string>NM Soft Decline</string>
            <string>NO Soft Decline</string>
            <string>NP Soft Decline</string>
            <string>NW Soft Decline</string>
            <string>NR Soft Decline</string>
            <string>NV Soft Decline</string>
          </ArrayOfString>
        </value>
      </setting>

      <setting name="eWixRXData" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>eWIC 1|203|EA01414200200199900EA01414200300199900EA01414200500099900EA01414200600699900EA01414201900099900EA01414202100199900EA01414202100299900EA01414205100199900EA01414205200499900EA01414205400299900EF00820150321||MA</string>
            <string>eWIC 2|184|EA01414200200199900EA01414200300199900EA01414200500099900EA01414200600699900EA01414201900099900EA01414202100299900EA01414205100199900EA01414205210799900EA01414205400299900EF00820150403||MA</string>
            <string>eWIC 3|146|EA01414200200100200EA01414200300100100EA01414200500003200EA01414200600600200EA01414201900001000EA01414205200400500EA01414205400200200EF00820150403||MA</string>
            <string>eWIC 4|108|EA01414200200100200EA01414200300100100EA01414200600600200EA01414205200400500EA01414205400200200EF00820150403||MA</string>
            <string>eWIC 5|241|EA01414200200199900EA01414200300199900EA01414200500099900EA01414200600699900EA01414200800199900EA01414200900199900EA01414201900099900EA01414202100199900EA01414202100299900EA01414205100199900EA01414205200499900EA01414205400299900EF00820150403||MA</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CustomerReceipt" serializeAs="Xml">
        <!-- dont touch this config -->
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string> American Express #SXXXXXXXXXXX1004   </string>
            <!-- dont touch this config -->
            <string> Auth # AAAAAAAAAExp Date **/**       </string>
            <!-- dont touch this config -->
            <string> Lane # 005      Cashier # office     </string>
            <!-- dont touch this config -->
            <string> 04/02/14 13:19  Ref/Seq # 005178     </string>
            <!-- dont touch this config -->
            <string> EPS Sequence    # 005178             </string>
            <!-- dont touch this config -->
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DrawerReceipt" serializeAs="Xml">
        <!-- dont touch this config -->
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string> American Express #SXXXXXXXXXXX1004   </string>
            <!-- dont touch this config -->
            <string> Auth # AAAAAAAAAExp Date **/**       </string>
            <!-- dont touch this config -->
            <string> Lane # 005      Cashier # office     </string>
            <!-- dont touch this config -->
            <string> 04/02/14 13:19  Ref/Seq # 005178     </string>
            <!-- dont touch this config -->
            <string> EPS Sequence    # 005178             </string>
            <!-- dont touch this config -->
            <string></string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HeaderReceipt" serializeAs="Xml">
        <!-- dont touch this config -->
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>              Your Store              </string>
            <!-- dont touch this config -->
            <string>              Your Street             </string>
            <!-- dont touch this config -->
            <string>          City, State zipcode         </string>
            <!-- dont touch this config -->
            <string>            (555) 555-1212            </string>
            <!-- dont touch this config -->
          </ArrayOfString>
        </value>
      </setting>

      <setting name="TrailReceipt" serializeAs="Xml">
        <!-- dont touch this config -->
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>             THANK YOU FOR            </string>
            <!-- dont touch this config -->
            <string>           SHOPPING WITH US!          </string>
            <!-- dont touch this config -->
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CustomerReceiptEWeWic" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DrawerReceiptEWeWic" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CustomerReceiptXXGiftCardLoad" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string> GiftCard #BARCODE#                   </string>
            <string> Acount balance : #AcBln#             </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DrawerReceiptXXGiftCardLoad" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string> GiftCard #BARCODE#                   </string>
            <string> Acount balance : #AcBln#             </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CustomerReceiptVSVisa_test" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string> Visa #SXXXXXXXXXXX1004               </string>
            <string> Auth # OK3142   Exp Date **/**       </string>
            <string> Lane # 005      Cashier # office     </string>
            <string> 04/02/14 13:19  Ref/Seq # 005178     </string>
            <string> EPS Sequence    # 005178             </string>
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DrawerReceiptVSVisa_test" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string> Visa  #SXXXXXXXXXXX1004              </string>
            <string> Auth # OK3142   Exp Date **/**       </string>
            <string> Lane # 005      Cashier # office     </string>
            <string> 04/02/14 13:19  Ref/Seq # 005178     </string>
            <string> EPS Sequence    # 005178             </string>
            <string />
          </ArrayOfString>
        </value>
      </setting>

      <setting name="SimpleMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlinkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="scatReady" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="xLocation" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="yLocation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="authorizationNumber" serializeAs="String">
        <value>OK3142</value>
      </setting>
      <setting name="TerminalId" serializeAs="String">
        <value>0171</value>
      </setting>
      <setting name="MerchantIDNumber" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="startSession" serializeAs="String">
        <value>1[0000TX195077171000404884021&lt;ETX&gt;&lt;x69&gt;</value>
      </setting>
      <setting name="getPin" serializeAs="String">
        <value>1&lt;000000&lt;ETX&gt;&lt;x3F&gt;</value>
      </setting>
      <setting name="GetPrescription" serializeAs="String">
        <value>1{0000MA0200509302005090103312050922110401141454002002000100100200020120030003000001000400300400050000360006001000000600200100070040010008001002001200100300130010020015007002001900099900&lt;ETX&gt;&lt;x74&gt;</value>
      </setting>
      <setting name="UpdatePrescription" serializeAs="String">
        <value>1~0000TX041234&lt;ETX&gt;&lt;x74&gt;</value>
      </setting>
      <setting name="RemoveWicIcc" serializeAs="1">
        <value>1~0000TX&lt;ETX&gt;1 </value>
      </setting>
      <setting name="LockWicIcc" serializeAs="String">
        <value>1]0000TX&lt;ETX&gt;1</value>
      </setting>
      <setting name="BenefitReversal" serializeAs="String">
        <value>1&lt;00000091</value>
      </setting>
      <!--<setting name="accountNumber" serializeAs="String">-->
      <setting name="accountNumber" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>514961******2229</string>
            <string>123456******4444</string>
            <string>************5488</string>
            <string>************5496</string>
            <string>************5504</string>
          </ArrayOfString>
        </value>
      </setting>

      <setting name="expirationDate" serializeAs="String">
        <value>0816</value>
      </setting>
      <setting name="loyalData" serializeAs="String">
        <value>
          <ServerEpsLoyaltyData LoyaltyType="101" Version="1.0">
            <TargetLoyaltyLabs>
              <ShopperProgramBalances>
                <ShopperProgramBalance ShopperId="2000452983" LoyaltyProgramId="98901330059049=" FirstName="TestMicro" MiddleInitial="" LastName="SiteVisa=">
                  <ProgramBalance ReferenceTag="1" Name="Pharmacy Rewards" PointBalance="2.00" PointTypeId="4" PointTypeName="Rx" />
                  <ProgramBalance ReferenceTag="2" Name="CYS" PointBalance="179.00" PointTypeId="6" PointTypeName="CYS" />
                </ShopperProgramBalance>
              </ShopperProgramBalances>
            </TargetLoyaltyLabs>
          </ServerEpsLoyaltyData>
        </value>
      </setting>
    </ManagedDll.Properties.Settings>

    <setting name="AuthData" serializeAs="String">
      <value>|||||||0080004814 014069505181693      561201200001000000000000001822APPROVAL        0008SDXZ001T|5411|||||||</value>
    </setting>
    <setting name="TokenData" serializeAs="String">
      <value>
        <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <string>201:5665818282537638</string>
          <string>201:5665818282537638|105:0009950000000620150324085331290019000000000</string>
          <string>201:6832726452864847</string>
        </ArrayOfString>
      </value>
    </setting>
    <setting name="TicketLookup" serializeAs="String">
      <value>
        <TicketLookupResponse ErrorCode="0">
          <TransactionList Count="6">
            <Transaction BusinessDate="2012-01-03" Store="405" Lane="02" TranDateTime="2012-01-03 15:06:21" STAN="20000" PosTran="00005056" />
            <Transaction BusinessDate="2012-01-20" Store="407" Lane="01" TranDateTime="2012-01-20 10:50:45" STAN="10000" PosTran="873108" />
          </TransactionList>
        </TicketLookupResponse>
      </value>
    </setting>

    <setting name="ExtendedCashierPrompts" serializeAs="String">
      <value>Cust Slide Card||||</value>
    </setting>
  </applicationSettings>


</configuration>
